.filter {
  margin: 40px auto;

  &__container {
    @include flexCenter;
  }

  &__wrapper {
    width: 510px;
    height: 40px;
    @include font(400, 14, 16);
    @include flexCenter;
    background-color: $filter-bg;
    box-shadow: $primary-shadow;
  }

}

.main-form {
  @include flexCenter;
  flex-direction: row;
  gap: 25px;

  &__select-wrapper {
    display: flex;
    gap: 5px;
  }

  &__select {
    outline: none;
  }

  &__search {
    padding: 2px 4px;
    outline: none;
  }

  &__label {
    @include flexCenter;
  }

}