.header {
  width: 100vw;
  background-color: $header-bg;
  box-shadow: $primary-shadow;
  color: $ordinary-txt;

  &__container {
    height: 60px;
    @include flexCenter;
    flex-direction: row;
    justify-content: space-between;
  }

  &__link-logo {
    @include flexCenter;
    gap: 5px;
    align-content: center;
    color: $ordinary-txt;
    text-transform: uppercase;

    &:hover {
      color: $ordinary-txt;
    }

  }

  &__image-logo {
    height: 32px;
    width: 32px;
    filter: invert(100%) sepia(11%) saturate(7500%) hue-rotate(291deg) brightness(115%) contrast(110%);
  }

  &__text-logo {
    @include font(700, 20, 20);
    margin: 0;
  }

  &__buttons {
    @include flexCenter;
    gap: 15px;
  }

}