body {
  font-family: $fontFamily;
  @include font($fontWeight, $fontSize, $lineHeight);
  color: $primary-txt;
  background-color: $primary-bg;
  overflow-x: hidden;
}

[class*='__container'] {
  max-width: $maxWidthContainer;
  margin: 0 auto;
  padding: $containerPadding;
}

.button {
  @include font(400, 16, 20);
  cursor: pointer;
  padding: 4px 8px;
  color: $primary-txt;
  background-color: $bnt-bg;
  border-radius: 4px;
  box-shadow: $ordinary-shadow;

  &:hover {
    background-color: $btn-hover-bg;
    color: $ordinary-txt;
  }
}

.hide {
  display: none;
}